include ../blocks/svg/logo_svg.pug
include ../blocks/logo/logo.pug
include ../blocks/button/button.pug
include ../blocks/input/input.pug
include ../blocks/header/header.pug
include ../blocks/about_us/about_us.pug
include ../blocks/advantage/advantage.pug
include ../blocks/comment/comment.pug
include ../blocks/prices/prices.pug
include ../blocks/contact/contact.pug
include ../blocks/footer/footer.pug
include ../blocks/total/total.pug
include ../blocks/questions/questions.pug
include ../blocks/questions_block/questions_block.pug
include ../blocks/sel/sel.pug
include ../blocks/burger/burger.pug
include ../blocks/cols/cols.pug