-
    var logo = [

        {
            href: '.header',
            value: 'Главная'
        },
        
        {
            href: '.about',
            value: 'Как мы работаем'
        },

        {
            href: '.about_blog',
            value: 'О нас'
        },

        {
            href: '.prices',
            value: 'Наши цены'
        },

        {
            href: '.contact',
            value: 'Контакты'
        },
        
    ]


    var abuot = [
        {
            icon : 'icon-1',
            span: 'Подбираем',
            p: 'Несколько вариантов автомобилей  на аукционах, на Ваш бюджет, и  требования'
        },
        {
            icon : 'icon-2',
            span: 'Проверяем',
            p: 'Вы будете в курсе как обслуживалось это авто, кто и как им пользовался'
        },
        {
            icon : 'icon-3',
            span: 'Оформляем',
            p: 'Договор, что позволяет исключить не соблюдение обязательств каждой из сторон'
        },
        {
            icon : 'icon-4',
            span: 'Контролируем',
            p: 'Логистику сначала по США, а потом обеспечиваем его безопасную доставку в Украину'
        },
        {
            icon : 'icon-5',
            span: 'Растамаживаем',
            p: 'Официально оформляем транспортное средство'
        },
        {
            icon : 'icon-6',
            span: 'Доставляем',
            p: 'Вы получаете автомобиль'
        },
    ];

    var aboutBlog = [
        {
            img: './img/Rectangle4.9.png',
            soc: '',
            name: 'Инна',
            secondName:'Company name',
            h4: 'Lorem ipsum',
            p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dapibus quam, ut gravida tellus molestie a. Nulla vulputate dictum nisl sit amet pharetra. Sed elementum tincidunt dolor et molestie. Fusce egestas vitae felis vitae ultricies. Quisque sollicitudin posuere blandit. Pellentesque euismod ullamcorper tellus at aliquam. Curabitur eu ex quis augue dictum cursus. Nam fringilla tortor vestibulum quam lacinia dapibus.',
            aSoc: 'fab fa-facebook-f'
        },

        {
            img: './img/Rectangle4.10.png',
            soc: '',
            name: 'Ольга',
            secondName:'Company name',
            h4: 'Lorem ipsum',
            p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dapibus quam, ut gravida tellus molestie a. Nulla vulputate dictum nisl sit amet pharetra. Sed elementum tincidunt dolor et molestie. Fusce egestas vitae felis vitae ultricies. Quisque sollicitudin posuere blandit. Pellentesque euismod ullamcorper tellus at aliquam. Curabitur eu ex quis augue dictum cursus. Nam fringilla tortor vestibulum quam lacinia dapibus.',
            aSoc: 'fab fa-facebook-f'
        },

        {
            img: './img/Rectangle4.7.png',
            soc: '',
            name: 'Николай',
            secondName:'Company name',
            h4: 'Lorem ipsum',
            p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dapibus quam, ut gravida tellus molestie a. Nulla vulputate dictum nisl sit amet pharetra. Sed elementum tincidunt dolor et molestie. Fusce egestas vitae felis vitae ultricies. Quisque sollicitudin posuere blandit. Pellentesque euismod ullamcorper tellus at aliquam. Curabitur eu ex quis augue dictum cursus. Nam fringilla tortor vestibulum quam lacinia dapibus.',
            aSoc: 'fab fa-facebook-f'
        },  
    ];

    var prices_carts = [
        {
            h3: 'Премиум',
            img: './img/Rectangle11.jpg',
            p: 'Lorem impsum',
            oldPrais: '<s>27 300 $',
            newPrais: '26 465 $',
            sel: '-835$'
        },

        {
            h3: 'Стандарт',
            img: './img/Rectangle12.png',
            p: 'Lorem impsum',
            oldPrais: '<s>11 700 $',
            newPrais: '11 135 $',
            sel: '-565$'
        },

        {
            h3: 'Эконом',
            img: './img/Rectangle13.png',
            p: 'Lorem impsum',
            oldPrais: '<s>6 475 $',
            newPrais: '6 188 $',
            sel: '-287$'
        },
          
        {
            h3: 'Стандарт',
            img: './img/Rectangle12.png',
            p: 'Lorem impsum',
            oldPrais: '<s>11 700 $',
            newPrais: '11 135 $',
            sel: '-565$'
        }
    ];

    var advantage_our= [
        {
            h3: 'Кредитование',
            p: 'до <span class="advantage_span">5</span> лет </br> до <span class="advantage_span">500 000</span> грн </br> без залога!',
            a: 'условия кредитования'
        },

        {
            h3: 'Экономия',
            p: 'до <span class="advantage_span">40%</span> от рыночной<br>стоимости',
            a: 'калькулятор стоимости авто'
        },

        {
            h3: 'Trade in',
            p: 'обменяйте свое <span class="advantage_span">старое</span></br> авто на новое',
        },

        {
            h3: 'Доставка',
            p: 'до <span class="advantage_span">2</span> месяцев в любой</br> город Украины',
        }
    ];

    var advantage = ['Это реально дешевле – огромный выбор б/у авто на аукционе от 1000 $', 'У авто будет на 100% прозрачная страховая история, чем не могут похвастаться европейцы', 'Честный пробег гарантирован – за смотку в США строгая уголовная ответственность', 'Можно выбрать авто с шикарной комплектацией, автоматической трансмиссией и другие условия комфорта.', 'Отличное состояние американских дорог, своевременное высококачественное техническое обслуживание и умеренный климат США способствуют сохранению авто в хорошем состоянии', '90% авто под 92 бензин, что выгодно для автолюбителей СНГ и благоприятно к установке ГБО.'];


    var commentElem = [

        {
            //- img: './img/Rectangle0.png',
            img: './img/Rectangle1.png',
            bamp: './img/comentWrap.png'
        },

        {
            img: './img/Rectangle1.png',
            bamp: './img/comentWrap.png'
        },

        {
            img: './img/Rectangle3.png',
            bamp: './img/comentWrap.png'
        },

        {
            img: './img/Rectangle3.png',
            bamp: './img/comentWrap.png'
        }

    ]

    var obgcont = [
        {
            icon: 'fas fa-map-marker-alt',
            text: 'г.Киев, Голосеевский район, ул.Практичная 1, оф. 65'
        },

        {
            icon: 'fas fa-envelope',
            text: 'carsexpert@ukr.net',
        },

        {
            icon: 'fas fa-phone',
            phone: '066  000 00 02'
        },

        {
            icon: 'fas fa-phone',
            phone: '098  000 00 02'
        },

        {
            icon: 'fas fa-phone',
            phone: '073  000 00 02'
        }
    ];