mixin cols()
    .cols
        .cols_blender
            i.cols_i(class='fas fa-phone')
            .cols_elems    
                .cols_elem
                    a.cols_a(href="#")
                        img.cols_imeg(src="./img/lifecell.png", alt="")
                .cols_elem
                    a.cols_a(href="#")
                        img.cols_imeg(src="./img/Vodafone.png", alt="")
                .cols_elem
                    a.cols_a(href="#")
                        img.cols_imeg(src="./img/Kyivstar.png", alt="")